.mainImg {
	cursor: pointer;
}

.mathImg {
	cursor: pointer;
}

@font-face {
    font-family: sansunithin;
    src: url('uni-sans.thin-caps.otf');
}
.loginImg {
	width: 9%;
	height: 9%;
}

.settingImg{
	padding-left: 5%;
}

.otherImg {
	cursor:pointer;
}

.headerClass{
	margin:auto;
}

.footerText {
	font-family: "Cascadia Code", monospace;
	color: #5dfe55;
}

.footer {
    text-align: center;
}
.footer-leo{
	cursor:pointer;
}
.footer-rights{
	padding-left:5%;
	padding-right:5%;
}
.footer-date{
}

.centerImg{
	padding-left:38%;
}
.logininputs{
	padding-top:1%;
	padding-left:35%;
}
.loginbox{
	background-color:black;
	border-color: 1a4517;
	border-style: solid;
	border-width: 2;
	outline:none;
	color: 5dfe55;
	font-size:200%;
	width:35%;
	height:7%;
	border-radius:5px;
	text-align:bottom;
	font-family: "Cascadia Code", monospace;
}

.benis{
	padding-top:2%;
}
.gologin{
	padding-left:9%;
	cursor:pointer;
	
}

.introanimation {
	animation-name: intro;
    animation-duration: 4s;
}

@keyframes intro {
    0%   {top:8vw; visibility:visible;}
    100% {top:-40vw;}
}

.houseintroanimation {
	animation-name: houseintro;
    animation-duration: 4s;
}

@keyframes houseintro {
    0%   {top:10vw; visibility:visible;}
    100% {top:-40vw;}
}

.backgroundanimation {
	animation-name: backintro;
    animation-duration: 4s;
}

@keyframes backintro {
    0%   {top:0vw; visibility:visible;}
    100% {top:-100vw;}
}


.passdiv{
	border-style:solid;
	border-width:2px;
	border-color:green;
	display:inline-block;
	white-space:pre-line;
}

.iFrame1{
	position:relative;
	height: 50%;
	width: 25%;
	padding-left:38%;
	padding-top:5%;
	outline: none;
	border: none;
}
.simp{
	height:49%;
	width:3%;
	left:35%;
	top:32%;
	position:absolute;
	color: red;
	background-color: #919da3;
	border: 5px solid #aab8bf;
}
.simn{
	height:49%;
	width:3%;
	left:63%;
	top:32%;
	position:absolute;
	color: red;
	background-color: #919da3;
	border: 5px solid #aab8bf;
}


.simSwitch{
	position:relative;
	height:10%;
	width:10%;
	padding-left:38%;
	padding-top:5%;
	outline: none;
	border: none;
}

.asciitext{
	color: 5dfe55;
	font-family:"Cascadia Code", monospace;
}

.balls1 {
	tab-size: 8;
}

.car_img {
    border: #5dfe55;
    border-style: solid;
    border-width: medium;
    height:10vw;
    width:20vw;
    object-fit:cover;
}

.car_text{
    color:#5dfe55;
    width:max-content;
    font-size:.7vw;
}

.car_grid {
    display: grid;
    padding-left: 5%;
    justify-content: start;
    grid-column-gap: 5%;
    grid-row-gap: 20%;
    padding-left:5%;
    padding-right:5%;
    grid-template-rows: fit-content(15%) fit-content(15%);
    grid-template-columns: fit-content(30%) fit-content(30%);
}

.poster_choice {
    display: flex;
    place-content: center;
    column-gap: 1%;
}

.poster_dropdown {
    font-family: sansunithin;
    font-size:200%;
    color: 5dfe55;
    background-color: black;
    border-style: dashed;
    border-width: thin;
    border-color: #5dfe31;
    width:10%;
    height:3.5vw;
}

.poster_font{
    font-family: sansunithin;
    color: 5dfe55;
    text-align:center;
}

.poster_link{
    color: c5c5c5;
    text-align:center;
    font-style:italic;
}

.poster_grid{
    display:grid;
    padding-top:3vw;
    justify-content: center;
    column-gap:4vw;
    grid-template-columns: repeat(5,1fr);
    justify-items: center;
}

.discord-main{
    display:flex;
    flex-wrap:wrap;
    gap:5vw;
}

.discord_dropdown {
    font-family: sansunithin;
    font-size:200%;
    color: 5dfe55;
    background-color: #323232;
    border-style: dashed;
    border-width: thin;
    border-color: #5dfe31;
}

.command_box{
    flex: 55%;
    background-color: #323232;
    border-width: thick;
    border-style: inset;
    border-top-color: black;
    border-left-color: #8f8f8f;
    border-bottom-color: #344a2e;
    border-right-color: #344a2e;
}

.discord-link{
    display: inline-grid;
	grid-template-columns: repeat(2,1fr);
    justify-items: center;
    align-items: center;
	column-gap: 1vw;
}

.discord-image-border{
    border-style: groove;
    border-width: thin;
    border-color: #45fe55;
}

.choices-choice{
    background-color: #323232;
    font-size: larger;
    border-style: groove;
    cursor:pointer;
}

.grid-commands{
    display:grid;
    grid-template-columns: repeat(1,1fr);
    row-gap: .5vw;
}

.input_buttons{
    width:50%;
    height:10%;
    font-size:200%;
    background-color:black;
    border-color: #38cb44;
    border-style:ridge;
    border-width:1px;
}

::placeholder{
    color:#38cb44;
}

.input_div{
    padding-left:3%;
}
